*.class

# Package Files #
*.jar
*.war
*.ear

# Log Files #
*.gwt-log

/NinjaSpacePirate-android/bin/
/NinjaSpacePirate-desktop/bin/
/NinjaSpacePirate-html/bin/
/NinjaSpacePirate-html/gwt-unitCache/
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170E27591
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170E41AB4
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170E61A80
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170E666A6
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170EC88D7
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014170ECA772
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014171001635
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014171002FE7

/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123CC799E
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123CC88F8
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D0425C
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D0A383
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D12341
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D13C33
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D20A71
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D23681
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D29A0B
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D2BB68
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D315EB
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D3D9DE
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D3FB66
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D41790
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D7E3FC
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D91926
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DA006F
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DB8F16
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DD1A0F
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DD4C39
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123FABD0A
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123FAE9B1
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240CD646
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5792
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5970
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5997
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5C23
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E08E1
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E4541
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E72FF
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240FA038
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240FF854
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-000001412410E7C9
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014124110A5E

/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123CC799E
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123CC88F8
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D0425C
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D0A383
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D12341
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D13C33
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D20A71
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D23681
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D29A0B
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D2BB68
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D315EB
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D3D9DE
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D3FB66
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D41790
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D7E3FC
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123D91926
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DA006F
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DB8F16
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DD1A0F
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123DD4C39
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123FABD0A
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014123FAE9B1
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240CD646
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5792
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5970
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5997
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240D5C23
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E08E1
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E4541
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240E72FF
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240FA038
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-00000141240FF854
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-000001412410E7C9
/NinjaSpacePirate-html/gwt-unitCache/gwt-unitCache-0000014124110A5E
